<a href="https://colab.research.google.com/github/theAnalist-Rocks/masterScience/blob/main/matrix2RS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.sparse import csr_matrix

## Starting Processing the Data
Step 1: Let's read our data and plot relevant factors

In [ ]:
anime = pd.read_csv('/content/anime.csv')
ratings = pd.read_csv('/content/rating.csv')
anime
ratings

        user_id  anime_id  rating
0             1        20    -1.0
1             1        24    -1.0
2             1        79    -1.0
3             1       226    -1.0
4             1       241    -1.0
...         ...       ...     ...
238654     2462      5114    10.0
238655     2462      5118    10.0
238656     2462      5341    10.0
238657     2462      5680     9.0
238658     2462       634     NaN

[238659 rows x 3 columns]

In [ ]:
anime_no_duplicate = anime.drop_duplicates()
ratintgs_no_duplicate = ratings.drop_duplicates()
ratintgs_no_duplicate

        user_id  anime_id  rating
0             1        20    -1.0
1             1        24    -1.0
2             1        79    -1.0
3             1       226    -1.0
4             1       241    -1.0
...         ...       ...     ...
238654     2462      5114    10.0
238655     2462      5118    10.0
238656     2462      5341    10.0
238657     2462      5680     9.0
238658     2462       634     NaN

[238659 rows x 3 columns]

In [ ]:
rating_user_matrix = ratintgs_no_duplicate.pivot(index='user_id', columns='anime_id', values='rating').fillna(0)
rating_user_matrix

anime_id,1,5,6,7,8,15,16,17,18,19,...,33798,33902,33934,33964,34085,34103,34136,34173,34240,34325
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,8.0,0.0,0.0,6.0,0.0,6.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0
2460,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Map index of matrix to anime_id

## Step 2: Model definition

In [ ]:
from sklearn.neighbors import NearestNeighbors

model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
model.fit(rating_user_matrix.values)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=20)

In [ ]:
model.kneighbors(rating_user_matrix.values[0], n_neighbors=10)

(array([[0.26171981, 0.51371146, 0.53779015, ..., 0.5732104 , 0.5732104 ,
         0.5732104 ],
        [0.00985246, 0.21842484, 0.29985996, ..., 0.47074388, 0.50492623,
         0.50492623],
        [0.56869835, 0.57989747, 0.60321323, ..., 0.61521946, 0.61838484,
         0.62014323],
        ...,
        [0.67863628, 0.67907477, 0.69796815, ..., 0.73439913, 0.73906146,
         0.74058626],
        [0.60169561, 0.60240131, 0.60544575, ..., 0.6564075 , 0.66613577,
         0.67674646],
        [0.51068341, 0.52802818, 0.55687719, ..., 0.57580005, 0.58589997,
         0.59514168]]), array([[1775, 4363,  808, ...,  827,  490, 2268],
        [ 670, 2772, 3281, ..., 2276, 2885,  582],
        [3375, 3889, 2482, ..., 2310, 1553, 3911],
        ...,
        [4556, 5306, 5454, ...,  385, 5453, 5020],
        [5086, 1223, 1287, ..., 4585,  402, 5363],
        [5037, 2774, 1784, ...,  413,  276, 3611]]))

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_matrix = cosine_similarity(rating_user_matrix.values)
cosine_matrix

array([[ 1.        , -0.04225847,  0.01613407, ..., -0.02192235,
        -0.04518771, -0.01052919],
       [-0.04225847,  1.        ,  0.13368172, ...,  0.        ,
         0.19060914,  0.        ],
       [ 0.01613407,  0.13368172,  1.        , ...,  0.0616443 ,
         0.09811443,  0.03330837],
       ...,
       [-0.02192235,  0.        ,  0.0616443 , ...,  1.        ,
         0.06592132,  0.        ],
       [-0.04518771,  0.19060914,  0.09811443, ...,  0.06592132,
         1.        ,  0.        ],
       [-0.01052919,  0.        ,  0.03330837, ...,  0.        ,
         0.        ,  1.        ]])

## Predict k Nearst Neighbors

In [ ]:
def map_index_user_id(index:int, rating_matrix: pd.DataFrame):
  for i,row in rating_matrix.iterrows():
    if i == index:
      return row[0]

def return_recommended_movies():
  pass

def return_similar_user(index: int, cosine_matrix: np.ndarray, rating_matrix, criteria: float):
  row = cosine_matrix[map_index_user_id(index, rating_matrix)]
  similar = []
  for user_index, sim in enumerate(row):
    if sim > criteria:
      similar.append((user_index, sim))
  similar.sort(key=lambda x:x[1], reverse=True)
  return similar

return_similar_user(871, cosine_matrix, ratintgs_no_duplicate, 0.4)

[(7, 1.0),
 (3808, 0.5454287575448973),
 (1722, 0.46080262914465475),
 (2597, 0.43341865225830045)]

## Predict K neighbors with model 1

In [ ]:
from ctypes import Union
from typing import List
def predict(user_array:np.ndarray, rating_matrix, n_neighbors:int, model,criteria: float):
  distances, ids = model.kneighbors(user_array, n_neighbors=10)
  similar = [(rating_matrix[id], distances[dis], id) for id, dis in zip(ids, distances)]
  return similar

def match_users_preferences(similar: np.ndarray or List):
  for row, dist, id in similar:
    pass